@model MeetingApp.Models.UserInfo
@{
    ViewBag.Title = "Application Detail";
}
<main class="text-center">
    <h1 class="h4">Application Detail</h1>
    <p>Name: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
</main>