@model List<MeetingApp.Models.UserInfo>
@{
    ViewBag.Title = "Meeting Participation List";
}

<main class="text-center">
    <h1 class="h4">Tolantıya katılım listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Participation</td>
            </tr>
        </thead>
        <tbody>

            @{int i = 0;}
            @foreach(var user in Model)
            {
                if(user.Participation == true)
                {
                    i++;
                }
                var situation = user.Participation == true ? "Yes" : "No";
                var className = user.Participation == true ? "table-success" : "table-danger";
                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@situation</td>
                    <td>
                        <a href="/meeting/details/@user.Id" class="btn btn-sm btn-primary">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="card">
        <div class="card-body">
            <span>Number of participants: @i</span>
        </div>
    </div>
</main>