@{
    ViewBag.Title = "Toplantı Katılım Listesi";
}

<h1 class="h4">Tolantıya katılım listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Katılım Durumu</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Levent Can</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>

        <tr>
            <td>Şükran Hilal</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>