@model MeetingApp.Models.UserInfo
@{
    ViewBag.Title = "Application Status";
}

<main class="text-center">
    <h1>Application Status</h1>

    @if(Model.Participation == true)
    {
    <p>Dear, @Model.Name Thank you for your participation! @ViewBag.UserCount people, including you, are attending the meeting.</p>
    <a asp-controller="Meeting" asp-action="List" >List the participants</a>
    }else
    {
        <p>Dear, @Model.Name We're sorry you didn't attend the meeting.</p>
        <a href="/Meeting/Apply">Application Form</a>
    }
</main>