@{
    ViewBag.Title = "Anasayfa";
    Layout = "_Layout2";
}
<h1 class="h4">@ViewBag.Greeting</h1>
<p>Toplantı katılım durumunu bildirebilirsiniz.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>